In [1]:
# list.

In [3]:
#homogeneous.
list_1=[23,45,12,895,34,23]
print(list_1)

[23, 45, 12, 895, 34, 23]

In [4]:
# hectrogeneous
list_2=["23",[45,12,895],34.5,23,3+6j,False,0]
print(list_2)
print(len(list_2))
print(type(list_2))

['23', [45, 12, 895], 34.5, 23, (3+6j), False, 0]
7
<class 'list'>

In [5]:
# constructor.

In [6]:
#defult value.
print(list())

[]

In [7]:
# typecasting.
#string to list.
# accoding to charecter.
print(list("bangalore is in karn"))
#accoding to words.
print("bangalore is in karn".split())

['b', 'a', 'n', 'g', 'a', 'l', 'o', 'r', 'e', ' ', 'i', 's', ' ', 'i', 'n', ' ', 'k', 'a', 'r', 'n']
['bangalore', 'is', 'in', 'karn']

In [8]:
# tuple into list.
print(list(("banglore",34,4.5)))

['banglore', 34, 4.5]

In [9]:
# set into list.
print(list({"banglore",34,4.5}))

['banglore', 34, 4.5]

In [10]:
# dictionary to list.
print(list({"banglore":"karn",34:4.5}))

['banglore', 34]

In [11]:
# indexing in list.
list_3=["23",[45,12,895],34.5,23,3+6j,False,0]
# want to access  "23"
print(list_3[0])
# want to access  12.
print(list_3[1][-2])

23
12

In [19]:
# program to get even index element.
list_4= ["23",[45,12,"895"],34.5,23,3+6j,False,0]
print(list_4[0::2])

#program to get odd index element.
print(list_4[1::2])
#program  to reverse of the list.
print(list_4[::-1])
#programe to get even index element in reverse order.
print(list_4[-2::-2])
#programe to get odd index element in reverse order.
print(list_4[-1::-2])

['23', 34.5, (3+6j), 0]
[[45, 12, '895'], 23, False]
[0, False, (3+6j), 23, 34.5, [45, 12, '895'], '23']
[False, 23, [45, 12, '895']]
[0, (3+6j), 34.5, '23']

In [20]:
# revrse the nested list.
list_4

['23', [45, 12, '895'], 34.5, 23, (3+6j), False, 0]

In [21]:
print(list_4[1][::-1])

['895', 12, 45]

In [22]:
print(list_4[0][::-1])

32

In [23]:
# mutable concept in list.
li_2=[1,2,3,"jagatjit"]
li_2[3]="biswajit"
print(li_2)

[1, 2, 3, 'biswajit']

In [2]:
# METHODS IN LIST
# adding element into list.
# 1. append()-->>varname.append()-->> it added the element end of the list and memory address should be same.
list1=[34.5,"pushker",43,{1,2,3},[True,False]]
list1.append(3+6j)
print(list1)

[34.5, 'pushker', 43, {1, 2, 3}, [True, False], (3+6j)]

In [3]:
#extend()-->> this method addes all the collection data type into the list.
# the element added bydeafult will be unpack at the end of the list.
# variablename.etend(collecton data type,iterable)
list1=[34.5,"pushker",43,{1,2,3},[True,False]]
list1.extend("string")
print(list1)

[34.5, 'pushker', 43, {1, 2, 3}, [True, False], 's', 't', 'r', 'i', 'n', 'g']

In [4]:
list1.extend(["hai",1,2,3,4])
print(list1)

[34.5, 'pushker', 43, {1, 2, 3}, [True, False], 's', 't', 'r', 'i', 'n', 'g', 'hai', 1, 2, 3, 4]

#insert-->> this methods adds the element at specific position.
# variablename.insert(position,element)

In [5]:
list1
list1.insert(0,"bangalore")
print(list1)

['bangalore', 34.5, 'pushker', 43, {1, 2, 3}, [True, False], 's', 't', 'r', 'i', 'n', 'g', 'hai', 1, 2, 3, 4]

In [9]:
# 2. removing element form the list
# pop()-->>this method bydeafult removes the element form the end of the lis
# also we can remove form the particular index by using index parameter.
# variablename.pop([position])
list2=[56,31,76,89]
list2.pop()
list2.pop(1)
print(list2)

[56, 76]

In [10]:
#remove()

# -->>this method removes the specific element form the list
#-->>> it removes the first ocuurence in the list if the element is repitated
l2=[12,23,34,45,45,45,89,90,45,]
l2.remove(12)
l2.remove(45)
print(l2)

[23, 34, 45, 45, 89, 90, 45]

In [13]:
#del -->> this is a key word used to remove single element or multiple elements.
# synatx 1.single element-->> del varname [index]
#        2. multipule value -->> del varname[satrt index:end-index:step -value]
# indexing.
del l2[4]
print(l2)
#del l2([0:2:1])
#print(l2)

[23, 34, 45, 45, 90, 45]

In [14]:
del l2[0::2]
print(l2)

[34, 45, 45]

In [1]:
# reverse()-->> this method reverses the list.
#varname.reverse()
l3=["a",45,0,4.5,[4,3],True,False]
l3.reverse()
print(l3)

[False, True, [4, 3], 4.5, 0, 45, 'a']

In [23]:
# index()-->> this methods returns the index of a element act first occurence in a list.
# syntax. -->> vaqriablename.index(element,[start-index],[end-index])
l3
print(l3.index(0,3))

6

In [6]:
# count -->> this methods return the count of repitated element in a list.
# variablename.count(element)
l3=["aaaaa",45,0,4.5,4.5,[4,3],True,1,False]
print(l3.count(4.5))

2

In [2]:
# sort() -->> it is a method used to arrange the data in assending or desending order.
#2. bydeafult the data will be arranged in assending order.
#syntax--->>> variablename.sort([True/False])
# WHILE SORTING IN ELEMENT IN A LIST MOST BE HOMOGENIOUS.

#sort;
list_=[3,4,12,78,4.5,78,0,1]
list_.sort()
print(list_)

[0, 1, 3, 4, 4.5, 12, 78, 78]

In [4]:
list_.sort(reverse = False)
print(list_)

[0, 1, 3, 4, 4.5, 12, 78, 78]

In [6]:
list_.sort(reverse = True)
print(list_)

[78, 78, 12, 4.5, 4, 3, 1, 0]

In [7]:
li_a=["pple","Apple","grapes","Van","wayanad","Van","avocado"]
li_.sort()
print(li_)
# it sorted accoding to askey value of the alphabate.

['Apple', 'Van', 'Van', 'apple', 'avocado', 'grapes', 'wayanad']

In [8]:
li_.sort(reverse=True)

In [9]:
print(li_)

['wayanad', 'grapes', 'avocado', 'apple', 'Van', 'Van', 'Apple']

In [13]:
# bolean.
l_1=[True,False]
l_1.sort()
print(l_1)

[False, True]

In [15]:
#COPYING IN LIST.
# in copy the memory address will be  same. the list will be independent.
li_=["pple","Apple","grapes","Van",["wayanad","Van","avocado"]]
l1 = li_
print(li_)
print(l1)
print(id(li_),id(l1))
print(id(li_[0]),id(l1[0]))

['pple', 'Apple', 'grapes', 'Van', ['wayanad', 'Van', 'avocado']]
['pple', 'Apple', 'grapes', 'Van', ['wayanad', 'Van', 'avocado']]
2146790477376 2146790477376
2146784427008 2146784427008

In [16]:
# shallow copy-->> in shallow copy the address of main list is different and the address of of nested list returns same address.
# deep copy.
li_=["pple","Apple","grapes","Van",["wayanad","Van","avocado"]]
li_1= (li_)
print(li_)
print(li_1)
print(id(li_),id(li_1))
print(id(li_[1]),id(l1[1]))

['pple', 'Apple', 'grapes', 'Van', ['wayanad', 'Van', 'avocado']]
['pple', 'Apple', 'grapes', 'Van', ['wayanad', 'Van', 'avocado']]
2146790545408 2146790545408
2146784424080 2146784424080

In [19]:
# OPERATORS IN LIST.
# ARITHMETIC OPERATORS.
#+
list_1=[1,2,3,4]
list_2=["jagatjit","subham","kirti",7.9,89,9+6j]
print(list_1+list_2)

[1, 2, 3, 4, 'jagatjit', 'subham', 'kirti', 7.9, 89, (9+6j)]

In [21]:
# * multiplication.

list_1=[1,2,3,4]
print(list_1*6)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [24]:
# 14. ord () -->> it is a inbuild function used to get the ascii value of the charecter.
# syntax -->> ord(charecter)
print(ord("t"),ord("1"),ord("&"))
#15. chr() -->> it is afunction toget the charecter as ascii value.
# syntax -->> chr(ascii value)
print(chr(678))
print(chr(78))

116 49 38
ʦ
N