In [3]:
# tuple.
#1.it is the collection of homogenious and hectro genius element.
# 2. the element are separtaed by comma,.
# 3.it is immutable that means it doesnot change the original tuple.
# 4. inside a tuple the single element written by (element,)
# 5. to find the length of element in tuple to use -->>len(tuple)
# 6. constuctor -->> tuple()
# 7. deafult value -->>()
# 8. typecasting -->> str,list,set,dic
# 9. it support indexing and slicing.

In [4]:
tupl_1=(1,1,2,3,4,["jagatjit",78,98+6j,89,7.7],{45,67,98,23})
print(id(tupl_1))

2785561002432

In [5]:
# in single :
a=(2,)
print(a,type(a))

(2,) <class 'tuple'>

In [6]:
# constructor.
print(tuple())

()

In [8]:
# type casting.
print(tuple("jagatjit"),
     tuple([4,5,6,7,89.09]),
     tuple({1,2,3,"a","b","c"}),
     tuple({"jagatjit":"seemarani","biswajit":"barsharani"}))

('j', 'a', 'g', 'a', 't', 'j', 'i', 't') (4, 5, 6, 7, 89.09) ('a', 1, 2, 3, 'c', 'b') ('jagatjit', 'biswajit')

In [1]:
# Methods in tuple.
#   count-->> this method returns the count of repeated element in a tuple.
# syntax-->> variablename.count(element)
t_=(1,2,3,4,"jagatjit")
print(t_.count("jagatjit"))

1

In [13]:
# index()-->> it returns the index of the element at first accurence in a tuple.
t_=(1,2,3,4,"jagatjit")
print(t_.index(3))

2

In [2]:
t1=(1,2,6,7)
t2=(45.7,98,89.9,{"jaga":"biswajit"})
print(t1+t2)

(1, 2, 6, 7, 45.7, 98, 89.9, {'jaga': 'biswajit'})

In [3]:
# *
t1=(1,2,6,7)*3
print(t1)

(1, 2, 6, 7, 1, 2, 6, 7, 1, 2, 6, 7)

In [4]:
# slicing
t1=(1,2,6,7)
print(t1[::-1])
print(t1[0:len(t1):2])
print(t1[:len(t1):])

(7, 6, 2, 1)
(1, 6)
(1, 2, 6, 7)

In [5]:
#idexing.
t_2=tuple(input("enter your tuple:" ).split())
print(t_2)
print(type(t_2))
print(t_2[0])
index_=int(input("enter your index"))
print("your resultant charecter is:", t_2[index_])

enter your tuple: hgbugcg bdhugcdyg dhgyg

('hgbugcg', 'bdhugcdyg', 'dhgyg')
<class 'tuple'>
hgbugcg

enter your index 2

your resultant charecter is: dhgyg

In [1]:
# single value tapule creation.
tuple_1=(1,)
print(type(tuple_1))

<class 'tuple'>

In [5]:
# find the realtion between id1 and id2.
t1=(1,2,3)
id1=id(t1)
print(id1)
t2=(4,5,6)
t1=t1+t2
id2=id(t2)
print(id2)

2055679695488
2055673821696

In [9]:
#3.
t1=(1,2,3)
t2=(4,5,6)
print(type((*t1,*t2)))

<class 'tuple'>

In [10]:
#4.

In [13]:
t1=(1,2,3,4)
t2=(9,)
t1=t1+t2
print(t1)

(1, 2, 3, 4, 9)